.div_box {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(162, 233, 247);
}

.db_l_image{
    width:100%;
    height: 100%;;
    /* border: 2px 2px 2px 0 solid black; */
    /* margin-left: -20%; */
    
    
    /* border: 2px solid black; */
}

.db_box{
    background-color: rgb(82, 173, 252);
    width: 55%;
    height: 85vh;
    margin: auto;
    display: flex;
    /* border: 2px solid black; */
    box-shadow: 10px 0px 12px 3px rgb(154, 150, 150) ;
}
.db_left{
    /* background-color: blue; */
    width: 40%;
    height: 100%;
}
.db_right{
    /* background-color: rgb(196, 151, 252); */
    /* background: linear-gradient(to right, #ff7e5f, #feb47b) */
    background: linear-gradient(90deg, #8c52ff , #5c31e6);    width: 60%;
    height: 100%;
}
.db_logo{
    display: flex;
    margin-top: 10%;
    margin-left: 10%;
}
.db_img{
    height: 50px;
    width:50px;
    
}
.DE{
    font-size: 15px;
}
.WB{
    font-size: 22px;
    color: white;
    font-weight: 700;
}
.db_logosection{
    margin-left: 12px;
}
.db_log{
    display: flex;
    margin-top: 10%;
    margin-left: 10%;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    height: 4.5vh;
    width: 80%;
}
.db_google{
    margin-left: 15px;
    
}
.gggg{
    font-size: 24px;
    margin-left: 45px;
}

.db_id{
    display: flex;
    margin-top: 7%;
    margin-left: 10%;
}
.input_id{
    margin-top: 8%;
    margin-left:10%;
    width:52vh;
    height: 4.2vh;
    margin-bottom: 10%;
    /* background-color: blueviolet; */
}
.inp_id{
    width: 100%;
    height: 100%;
    font-size: 18px;
    border-radius: 8px;

}
.db_logi{
    display: flex;
    margin-top: 7%;
    margin-left: 10%;
    width: 80%;
    height: 4.5vh;
}
.db_login{
    width: 65%;
    height: 100%;
    font-size: 18px;
    margin-left: 20%;
    border-radius: 10px;
    color: white;
    background-color: rgb(21, 21, 186);
}


.dbs_id{
    margin-top: 2%;
    margin-left: 10%;
}